<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ds2.MyworkMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entry.po.Mywork" >
    <id column="wid" property="wid" jdbcType="INTEGER" />
    <result column="wtitle" property="wtitle" jdbcType="VARCHAR" />
    <result column="wintro" property="wintro" jdbcType="VARCHAR" />
    <result column="wimg" property="wimg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wid, wtitle, wintro, wimg, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entry.po.MyworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mywork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mywork
    where wid = #{wid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mywork
    where wid = #{wid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entry.po.MyworkExample" >
    delete from mywork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entry.po.Mywork" >
    insert into mywork (wid, wtitle, wintro, 
      wimg, create_time, update_time
      )
    values (#{wid,jdbcType=INTEGER}, #{wtitle,jdbcType=VARCHAR}, #{wintro,jdbcType=VARCHAR}, 
      #{wimg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entry.po.Mywork" >
    insert into mywork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        wid,
      </if>
      <if test="wtitle != null" >
        wtitle,
      </if>
      <if test="wintro != null" >
        wintro,
      </if>
      <if test="wimg != null" >
        wimg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="wtitle != null" >
        #{wtitle,jdbcType=VARCHAR},
      </if>
      <if test="wintro != null" >
        #{wintro,jdbcType=VARCHAR},
      </if>
      <if test="wimg != null" >
        #{wimg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entry.po.MyworkExample" resultType="java.lang.Integer" >
    select count(*) from mywork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mywork
    <set >
      <if test="record.wid != null" >
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.wtitle != null" >
        wtitle = #{record.wtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.wintro != null" >
        wintro = #{record.wintro,jdbcType=VARCHAR},
      </if>
      <if test="record.wimg != null" >
        wimg = #{record.wimg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mywork
    set wid = #{record.wid,jdbcType=INTEGER},
      wtitle = #{record.wtitle,jdbcType=VARCHAR},
      wintro = #{record.wintro,jdbcType=VARCHAR},
      wimg = #{record.wimg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entry.po.Mywork" >
    update mywork
    <set >
      <if test="wtitle != null" >
        wtitle = #{wtitle,jdbcType=VARCHAR},
      </if>
      <if test="wintro != null" >
        wintro = #{wintro,jdbcType=VARCHAR},
      </if>
      <if test="wimg != null" >
        wimg = #{wimg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entry.po.Mywork" >
    update mywork
    set wtitle = #{wtitle,jdbcType=VARCHAR},
      wintro = #{wintro,jdbcType=VARCHAR},
      wimg = #{wimg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where wid = #{wid,jdbcType=INTEGER}
  </update>
</mapper>